**/aws.json
**/goog-auth.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
**/node_modules
packages/subgraph
packages/strapi
packages/*/artifacts/*
!packages/*/artifacts/1-*.deploy
!packages/*/artifacts/250-*.deploy
!packages/*/artifacts/4-*.deploy
!packages/*/artifacts/42161-*.deploy
packages/*/cache
packages/*/*.txt
packages/hardhat/.openzeppelin/unknown-31337.json
packages/react-app/src/contracts/*
packages/react-app/app.yaml
!packages/react-app/src/contracts/1-*.deployment.json
!packages/react-app/src/contracts/250-*.deployment.json
!packages/react-app/src/contracts/4-*.deployment.json
!packages/react-app/src/contracts/137-*.deployment.json
!packages/react-app/src/contracts/42161-*.deployment.json
packages/bots/contracts/*
!packages/bots/contracts/1-*.deployment.json
!packages/bots/contracts/250-*.deployment.json
!packages/bots/contracts/42161-*.deployment.json

docker
# docker/**/data

packages/subgraph/config/config.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
coverage

# production
build

# misc
tenderly.yaml
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
*.csv
