body {
  background-color: var(--bg);
  height: 100vh;
  width: 100vw;
}

/*.home-footer {*/
/*position: absolute;*/
/*bottom: 32px;*/
/*left: 32px;*/
/*}*/

/*.home-footer nav ul {*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: space-between;*/
/*}*/

/*.home-footer nav ul li {*/
/*margin-right: 1rem;*/
/*color: var(--brand);*/
/*}*/

/*.home-footer nav ul li a {*/
/*color: var(--brand);*/
/*text-shadow: 0px 0px 6px var(--brand);*/
/*filter: drop-shadow(0px 0px 6px var(--brand));*/
/*transition: all 250ms ease-in;*/
/*}*/

/*.home-footer nav ul li a:hover {*/
/*text-shadow: 0px 0px 0px transparent;*/
/*filter: drop-shadow(0px 0px 0px var(--brand));*/
/*}*/

.home-container {
  position: absolute;
  /*padding-top: 40px;*/
  /*padding-bottom: 40px;*/
  height: calc(100vh - 80px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.home-content {
  color: white;
  font-family: sans-serif;
  width: 330px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: calc(50% + 380px);
}

.home-logo img {
  width: 280px;
  height: auto;
}

.uppercase {
  text-transform: uppercase;
}

.home-subtitle {
  font-size: 20px;
  margin-top: 8px;
}

.home-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-cta a {
  border-radius: 4px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  transition: all 250ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-cta a:hover {
  opacity: 0.8;
}

.home-cta .second-action {
  color: white;
  height: 37px;
  margin-right: 24px;
  position: relative;
}

.second-action:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #fe3477, #f0014f);
}

.second-action:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 3px;
  background: var(--bg);
}

.home-cta .main-action {
  color: white;
  background: linear-gradient(92.29deg, #fe3477 0%, #f0014f 100%);
  /*background-color: var(--brand);*/
  border: none;
  box-shadow: 0px 0px 6px var(--brand);
  /*text-shadow: 0px 0px 2px var(--text);*/
}

@media screen and (max-width: 640px) {
  .home-content {
    width: 80%;
  }
}
