.helper {
  background-color: var(--bg64);
  padding: 10px;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.helper span {
  color: var(--green);
}

@media screen and (max-width: 768px) {
  .helper {
    margin-bottom: 8px;
  }
}
