/* ---------------- */
/*     Position     */
/* ---------------- */

.positions-container {
  /* z-index: 1; */
  margin: 0px 32px;
  margin-top: 7.75rem;
  min-height: calc(100vh - 13.125rem);
  max-width: 75rem;
  width: calc(100% - 4rem);
  /*padding: 0rem 2rem;*/
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 150%;
  padding-bottom: 4rem;
  position: relative;
}

.one-position {
  padding: 1rem;
  background: var(--blocks56);
  border: 0.1rem solid var(--text05);
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.positions .position-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.positions .position-element:last-child {
  margin-bottom: 0rem;
}

.positions .position-about {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 140px;
}

.positions .position-about .elmtXelmt {
  display: flex;
}

.positions .position-about .elmtXelmt img {
  width: 2rem;
  height: 2rem;
}

.positions .position-about .elmtXelmt .front {
  margin-left: -1rem;
}

.positions .position-about .elmt-name {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.5rem;
  line-height: initial;
  color: var(--text);
}

.positions .position-numbers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.position-numbers .collateral-number,
.position-numbers .borrow-number,
.position-numbers .debt-ratio-number {
  width: 6.938rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.one-position.positive .debt-ratio-number .number {
  color: var(--green);
}

.one-position.negative .debt-ratio-number .number {
  color: var(--brand);
}

.one-position.neutral .debt-ratio-number .number {
  color: var(--text64);
}

.position-numbers .number {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.position-numbers .additional-infos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--text64);
}

.position-numbers .additional-infos img {
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.position-numbers .number img {
  display: flex;
  margin-right: 0.25rem;
  width: 1.125rem;
  height: 1.125rem;
}

.position-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.positions .position-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  height: 2.5rem;
  color: var(--text);
  border: 0.063rem solid var(--text);
  border-radius: 2rem;
  box-sizing: border-box;
  background: transparent;
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
  transition: all 250ms ease;
}

.positions .position-btn:hover {
  color: var(--text);
  border-color: var(--brand);
  background: var(--brand);
  box-shadow: 0rem 0rem 0.25rem var(--brand);
}

.position-board .one-position:first-child {
  margin-top: 40px;
}

.position-board .one-position:first-child .collateral-number:before,
.position-board .one-position:first-child .borrow-number:before,
.position-board .one-position:first-child .debt-ratio-number:before {
  content: attr(data-element) '';
  position: absolute;
  color: var(--text);
  font-size: 0.875rem;
  font-weight: 600;
  width: 100%;
  top: -60px;
  text-align: center;
}

/* ---------------- */
/*     Positions    */
/* ---------------- */

/*.positions {*/
/*margin-top: 3.5rem;*/
/*}*/

.positions h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.positions .position-board {
  margin-top: 2rem;
}

.positions .position-board .legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1rem;
}

.positions .position-board .legend .legend-elements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text);
}

.positions .position-board .legend .empty-tab {
  width: 10.625rem;
}

.positions .position-board .legend .empty-button {
  width: 8.125rem;
}

.positions .position-board .legend span {
  font-size: 0.875rem;
  font-weight: 600;
  width: 6.938rem;
}

.adding-position {
  cursor: pointer;
  width: auto;
  height: 80px; /* height size of a regular position */
  padding: 0rem 1rem;
  margin-bottom: 1rem;
  background: transparent;
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--text16);
  color: var(--text64);
  transition: all 250ms ease;
}

.adding-position span {
  display: flex;
  margin-right: 0.5rem;
}

.adding-position:hover {
  border-color: var(--text32);
  color: var(--text);
}

.manage-position .position-board {
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .positions-container {
    margin-top: 32px;
  }

  .positions h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  .positions .position-board {
    margin-top: 32px;
  }

  .adding-position {
    height: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .positions-container {
    margin-top: 64px;
  }
}
