.flash-close {
  margin-top: 2.5rem;
  width: auto;
  padding: 1rem 2rem;
  border: 0.1rem solid var(--text05);
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
  background: var(--blocks);
  border-radius: 1rem;
}

.flash-close .section-title {
  margin-bottom: 0.5rem !important;
  color: var(--text);
}

.flash-close .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.flash-close .description {
  margin-right: 2rem;
  font-size: 0.875rem;
  color: var(--text);
}

.flash-close button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  border: 0.063rem solid var(--text);
  border-radius: 2rem;
  box-sizing: border-box;
  background: transparent;
  transition: all 250ms ease;
  margin-right: 1rem;
  width: auto;
  height: 2.5rem;
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
}

.flash-close button:last-child {
  margin-right: 0rem;
}

.flash-close button:hover {
  color: var(--bg);
  border-color: var(--bg);
  background: var(--text);
}

@media screen and (max-width: 768px) {
  .flash-close {
    margin-top: 0px;
    border-radius: 14px;
  }
  .flash-close .description {
    margin-right: 2rem;
    font-size: 0.875rem;
    color: var(--text);

    font-weight: 600;
    font-size: 8px;
    line-height: 12px;
    display: flex;
    align-items: center;

    color: rgba(245, 245, 253, 0.5);
  }
  .flash-close button {
    border: 1px solid rgb(63, 60, 60);
    color: var(--fujiColor);
    width: 96px;
    height: 24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(9, 9, 9, 0.15) 100%);
    box-sizing: border-box;
    border-radius: 51px;

    font-weight: 600;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .main-button {
    height: 55px !important;
  }
}