.bg-effect {
	z-index: -1;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	width: 800px;
	height: 800px;
	background: linear-gradient(180deg, #f0014f 0%, #111111 100%);
	opacity: 0.72;
	box-shadow: 0px -90px 50px rgba(238, 2, 70, 0.08);
	filter: blur(16px);
}

/* ------------- */
/*     HEADER    */
/* ------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: calc(100% - 64px);
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 32px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	backdrop-filter: blur(4px);
}

header .logo {
	display: flex;
}

header .logo img {
	height: 32px;
	transition: all 250ms ease;
}

header .logo:hover img {
	opacity: 0.8;
}

header nav,
header nav ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
  list-style-type: none;
}

header nav ul li {
	margin-left: 32px;
	font-size: 14px;
}

header nav ul li a {
	color: var(--white);
	font-weight: 500 !important;
	transition: all 250ms ease;
	text-shadow: 0px 0px 2px var(--white);
}

header nav ul li a:hover {
	color: var(--brand);
	text-shadow: 0px 0px 2px var(--brand);
}

header nav ul .current {
	color: var(--brand);
	text-shadow: 0px 0px 2px var(--brand);
}

header .button-nav {
	padding: 8px 16px;
	border: 2px solid var(--brand);
	border-radius: 32px;
	transition: all 250ms ease;
}

header .button-nav:hover {
	color: var(--white);
	background: var(--brand);
}
