.bg-effect {
	z-index: -1;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	width: 800px;
	height: 800px;
	background: linear-gradient(180deg, #f0014f 0%, #111111 100%);
	opacity: 0.72;
	box-shadow: 0px -90px 50px rgba(238, 2, 70, 0.08);
	filter: blur(16px);
}

/* ------------- */
/*     HEADER    */
/* ------------- */

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	header {
		background: linear-gradient(180deg, rgba(16, 16, 16, 0.9) 80%, rgba(16, 16, 16, 0) 100%);
		padding: 2rem !important;
	}
}

header {
	position: fixed;
	top: 0rem;
	left: 0rem;
	z-index: 10;
	width: calc(100% - 4rem);
	padding: 2rem 2rem 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-content: center;
	backdrop-filter: blur(0.25rem);
	-webkit-backdrop-filter: blur(0.25rem);
}

header .logo {
	display: flex;
}

header .logo img {
	height: 2rem;
	transition: all 250ms ease;
}

header .logo:hover img {
	opacity: 0.8;
}

header nav,
header nav ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

header nav ul li {
	margin-left: 2em;
	font-size: 0.875rem;
}

header nav ul li a {
	color: var(--text);
	font-weight: 500 !important;
	transition: all 250ms ease;
	text-shadow: 0rem 0rem 0.125rem var(--text);
}

header nav ul li a:hover {
	color: var(--brand);
	text-shadow: 0rem 0rem 0.125rem var(--brand);
}

header nav ul .current {
	color: var(--brand);
	text-shadow: 0rem 0rem 0.125rem var(--brand);
}

header .button-nav {
  cursor: pointer;
	padding: 0.5rem 1rem;
	border: 0.125rem solid var(--brand);
	border-radius: 2rem;
	transition: all 250ms ease;
}

header .button-nav:hover {
	color: var(--text);
	background: var(--brand);
	box-shadow: 0rem 0rem 0.25rem var(--brand);
}

header .button-nav.connected {
  cursor: initial;
  border-color: var(--text32);
  color: var(--text64);
  text-shadow: 0rem 0rem 0rem transparent;
}

header .button-nav.connected:hover {
  border-color: var(--text64);
  text-shadow: 0rem 0rem 0rem transparent;
  background: transparent;
  color: var(--text);
  box-shadow: 0rem 0rem 0rem transparent;
}
