:root {
  --bg-chart-background: linear-gradient(180deg, rgba(13, 12, 12, 0.64) 45%, var(--bg64) 160%);
  --bg-chart-box-shadow: inset -0.125rem -0.25rem 0.188rem rgba(66, 50, 55, 0.64), inset 0.125rem 0.125rem 0.563rem rgba(0, 0, 0, 0.25);

  --bg-chart-before-background: linear-gradient(140deg, #2A2A2A 14%, #101010 86%);
  --bg-chart-before-box-shadow: -0.125rem -0.25rem 0.188rem rgba(66, 50, 55, 0.64);

  --bg-chart-after-background: #191919;
}

.collateralization-block {
	margin-bottom: 1.5rem;
}

.collateralization-block p {
	font-size: 0.75rem;
	text-align: center;
	line-height: 150%;
}

.ratio {
	position: relative;
	width: 8.75rem;
	height: 8.75rem;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}

.bg-chart {
	position: absolute;
	top: 0rem;
	left: 0rem;
	border-radius: 4.375rem;
	width: 8.75rem;
	height: 8.75rem;
	background: var(--bg-chart-background);
	border: 0.063rem solid var(--bg);
	box-sizing: border-box;
	box-shadow: var(--bg-chart-box-shadow);
}

.bg-chart:before {
	content:'';
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 7.125rem;
	height: 7.125rem;
	border-radius: 3.75rem;
	border: 0.063rem solid var(--text05);
	background: var(--bg-chart-before-background);
	box-shadow: var(--bg-chart-before-box-shadow);
}

.bg-chart:after {
	content: '';
	z-index: 2;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 5.75rem;
	height: 5.75rem;
	border-radius: 3rem;
	background: var(--bg-chart-after-background);
	border: 0.063rem solid var(--text05);
}

.svg-chart {
	position: absolute;
	left: -0.125rem;
	top: -0.125rem;
	z-index: 3;
  width: 8.75rem;
  justify-content: space-around ;
}

.inner-chart {
  display: block;
  width: 9rem;
  height: 9rem;
	-webkit-filter: drop-shadow( 0rem 0rem 0.25rem var(--brand));
  filter: drop-shadow( 0rem 0rem 0.25rem var(--brand));
}

.circle-bg {
  fill: none;
  stroke: var(--text32);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.6;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.inner-chart .circle {
  stroke: var(--text32);
}

.percentage-chart {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	font-size: 1.25rem;
	color: var(--text64);
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
