/* ------------- */
/*   RESETS      */
/* ------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:focus {
  outline: 0;
}

/* ------------- */
/*   VARIABLES   */
/* ------------- */

@font-face {
  font-family: Poppins;
  src: url(https://assets.codepen.io/194136/Poppins-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url(https://assets.codepen.io/194136/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(https://assets.codepen.io/194136/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Nexa Bold';
  src: local('Nexa Bold'), url('./assets/fonts/Nexa\ Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Nexa Regular';
  src: local('Nexa Regular'), url('./assets/fonts/Nexa\ Regular.otf') format('opentype');
  font-weight: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------- */
/*   VARIABLES   */
/* ------------- */

:root {
  --brand: rgba(240, 1, 79, 1);
  --text: rgba(255, 255, 255, 1);
  --text64: rgba(255, 255, 255, 0.64);
  --text32: rgba(255, 255, 255, 0.32);
  --text16: rgba(255, 255, 255, 0.16);
  --text05: rgba(255, 255, 255, 0.05);
  --bg: rgba(16, 16, 16, 1);
  --bg64: rgba(16, 16, 16, 0.64);
  --blocks: rgba(25, 25, 25, 0.9);
  --blocks56: rgba(25, 25, 25, 0.56);
  --green: rgba(23, 203, 73, 1);
  --fujiColor: #f5f5fd;
}

.light-theme {
  --brand: rgba(240, 1, 79, 1);
  --text: rgba(255, 255, 255, 1);
  --text64: rgba(255, 255, 255, 0.64);
  --text32: rgba(255, 255, 255, 0.32);
  --text16: rgba(255, 255, 255, 0.16);
  --text05: rgba(255, 255, 255, 0.05);
  --bg: rgba(16, 16, 16, 1);
  --bg64: rgba(16, 16, 16, 0.64);
  --blocks: rgba(25, 25, 25, 0.64);
  --blocks56: rgba(25, 25, 25, 0.56);
  --green: rgba(23, 203, 73, 1);
}

/* ------------- */
/*   BASICS      */
/* ------------- */

body {
  background-color: var(--bg);
  color: var(--white);
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* Removing arrows on input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Placeholder color */
::placeholder {
  color: var(--text64);
}

.bold {
  font-weight: 600;
}

.brand-color {
  color: var(--brand);
}

.active-theme {
  display: flex !important;
}

.theme {
  display: none;
}

.main-button {
  background: linear-gradient(92.29deg, #fe3477 0%, #f0014f 100%);
  color: var(--text);
  height: 44px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .main-button {
    height: 44px !important;
    border-radius: 6px;
  }
}

@media screen and (min-width: 1120px) and (max-width: 1170px) {
  .main-button {
    height: 56px !important;
    font-size: 20px;
  }
}

.main-button:hover {
  background-color: var(--brand);
  opacity: 0.8;
}

.main-button:disabled {
  background-color: transparent;
  border: 1px solid var(--text16);
  color: var(--text16);
  cursor: not-allowed;
}

.max-button {
  padding: 0;
  height: 2rem;
  background-color: var(--text05);
  color: var(--text32);
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.subtitle {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: var(--text);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle .complementary-infos {
  display: contents;
  font-size: 0.75rem;
  color: var(--text64);
}

/* ------------- */
/*   GRID        */
/* ------------- */

.container {
  /* z-index: 1; */
  /* margin: 0px 32px; */
  margin-top: 104px;
  min-height: calc(100vh - 13.125rem);
  /* max-width: 65.875rem; */
  width: calc(100% - 4rem);
  /*padding: 0rem 2rem;*/
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 150%;
  padding-bottom: 4rem;
  position: relative;
}

.initial-step {
  max-width: 90rem !important;
}

.left-content {
  width: 100%;
  height: 100%;
}

.center-content {
  width: 100%;
  height: 100%;
}

.right-content {
  max-width: 21.625rem;
  width: 100%;
  height: auto;
}

.dark-block {
  background-color: var(--blocks56);
  border: 0.1rem solid var(--text05);
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
}

.section-title {
  font-size: 1rem;
  line-height: 120%;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: var(--text);
}

.col-50 {
  width: calc(50% - 1.5rem);
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

/* ------------- */
/*   INPUTS      */
/* ------------- */

.fake-input {
  height: 3.5rem;
  /*width: calc(100% - 2rem);*/
  border-radius: 0.5rem;
  background-color: var(--text05);
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  align-items: center;
  /*padding: 0rem 1rem;*/
}

.fake-input.error {
  border: 1px solid var(--brand);
}

.borrow-amount-input,
.collateral-input {
  margin-bottom: 1.5rem;
}

.fake-input .input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fake-input .input-container .icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.fake-input .input-container input {
  background: none;
  border: none;
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  /*width: 5rem;*/
}

.fake-input .input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fake-input .input span {
  margin-right: 0.5rem;
  color: var(--text64);
  font-size: 1rem;
  font-weight: 500;
}

.fake-input .input-infos {
  color: var(--text64);
  font-size: 0.875rem;
  font-weight: 400;
}

.error-input-msg {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 4px;
  display: block;
}

/* Progress bar */

.MuiLinearProgress-root {
  z-index: 20;
}

.MuiInputAdornment-positionStart {
  margin-right: 0;
}

.MuiLinearProgress-barColorPrimary {
  background-color: var(--brand);
  border-radius: 1rem;
}

.MuiLinearProgress-colorPrimary {
  background-color: transparent;
}

/* ------------- */
/*   MODALS      */
/* ------------- */

.MuiDialog-container {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.MuiDialog-paper {
  width: 25rem;
  height: auto;
  padding: 2rem;
  background-color: var(--bg);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: 0.1rem solid var(--text32);
  border-radius: 1rem;
}

.MuiDialog-paper .close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: var(--text);
  font-size: 2rem;
  transition: all 250ms ease;
}

.MuiDialog-paper .close:hover {
  opacity: 0.8;
}

.MuiDialogTitle-root,
.MuiDialogContent-root,
.MuiDialogActions-root {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.MuiDialogContentText-root {
  color: var(--text);
}

.bn-onboard-custom .bn-onboard-dark-mode {
  font-family: Poppins;
  background: rgba(13, 13, 13, 0.9) !important;
}

aside.svelte-rntogh {
  background: rgba(0, 0, 0, 0.8) !important;
}

/* ------------------------------ */
/*   Customize bnc-notify styles  */
/* ------------------------------ */

.bn-notify-custom .bn-notify-notification {
  color: #f5f5fd;
  background: transparent;
}

.bn-notify-custom .bn-notify-notification:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  margin: -1px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(to right, #fe3477, #f0014f);
}

.bn-notify-custom .bn-notify-notification:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit; /* !importanté */
  background: linear-gradient(to top, #191919, #292929);
}

.bn-notify-custom .bn-notify-notification-status-icon {
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .error-input-msg {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-top: 4px;
    display: block;
  }
  .section-title {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .error-input-msg {
    font-size: 14px;
  }
  .section-title {
    margin-bottom: 24px;
  }
}
