/* ---------------- */
/*     Stats        */
/* ---------------- */

.fuji-stats {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fuji-stats .dark-block {
	margin-right: 24px;
	width: calc(50% - 0.75rem);
	padding: 1.5rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
  color: var(--text);
}

.fuji-stats .dark-block:last-child {
	margin-right: 0rem;
}

.fuji-stats .title {
	font-size: 1rem;
	font-weight: 600;
}

.fuji-stats .number {
	font-size: 1rem;
	font-weight: 400;
}

/* ---------------- */
/*     Position     */
/* ---------------- */

.one-position {
	padding: 1rem;
	background: var(--blocks56);
  border: 0.1rem solid var(--text05);
	backdrop-filter: blur(0.375rem);
	-webkit-backdrop-filter: blur(0.375rem);
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	z-index: 1;
	position: relative;
}

.positions .position-element  {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.positions .position-element:last-child {
	margin-bottom: 0rem;
}

.positions .position-about {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.positions .position-about .elmtXelmt {
	display: flex;
}

.positions .position-about .elmtXelmt img {
	width: 2rem;
	height: 2rem;
}

.positions .position-about .elmtXelmt .front {
	margin-left: -1rem;
}

.positions .position-about .elmt-name {
	font-size: 1rem;
	font-weight: 600;
	margin-left: 0.5rem;
	line-height: initial;
  color: var(--text);
}

.positions .position-numbers {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.position-numbers .collateral-number,
.position-numbers .borrow-number,
.position-numbers .debt-ratio-number {
	width: 6.938rem;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: cent.po
}

.one-position.positive .debt-ratio-number .number {
	color: var(--green);
}

.one-position.negative .debt-ratio-number .number {
	color: var(--brand);
}

.one-position.neutral .debt-ratio-number .number {
	color: var(--text64);
}

.position-numbers .number {
	font-size: 1rem;
	font-weight: 400;
	color: var(--text);
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.position-numbers .additional-infos {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--text64);
}

.position-numbers .additional-infos img {
	display: flex;
	width: 1rem;
	height: 1rem;
	margin-right: 0.25rem;
}

.position-numbers .number img {
	display: flex;
	margin-right: 0.25rem;
	width: 1.125rem;
	height: 1.125rem;
}

.position-actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.positions .position-btn {
	cursor: pointer;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	color: var(--text);
	border: 0.063rem solid var(--text);
	border-radius: 2rem;
	box-sizing: border-box;
	background: transparent;
	backdrop-filter: blur(0.375rem);
	-webkit-backdrop-filter: blur(0.375rem);
	transition: all 250ms ease;
}

.positions .position-btn:hover {
	color: var(--text);
	border-color: var(--brand);
	background: var(--brand);
	box-shadow: 0rem 0rem 0.25rem var(--brand);
}

/* ---------------- */
/*     Positions    */
/* ---------------- */

.positions {
	margin-top: 3.5rem;
}

.positions h3 {
	font-size: 1.25rem;
	font-weight: 600;
}

.positions .position-board {
	margin-top: 2rem;
}

.positions .position-board .legend {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 1rem;
}

.positions .position-board .legend .legend-elements {
	display: flex;
	align-items: center;
	justify-content: space-around;
  color: var(--text);
}

.positions .position-board .legend .empty-tab {
	width: 10.625rem;
}

.positions .position-board .legend .empty-button {
	width: 8.125rem;
}

.positions .position-board .legend span {
	font-size: 0.875rem;
	font-weight: 600;
	width: 6.938rem;
}
